<!DOCTYPE html>{% load static %} {% load i18n %} {% load compress %}
<html lang="nl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <meta name="theme-color" content="Tomato"/>
        <!-- export variables to javascript from server configuration -->
        <meta name="mailto" content="{{mailto}}">

        <title>{% trans "Site Title" %}</title>
        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_v3.3.6.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme_v3.3.6.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/overrides.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.fullscreen.css' %}">
        {% endcompress %}

        {% if debug %}
            <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/leaflet-src.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/Leaflet.fullscreen.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/lazyload-custom.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        {% else %}{% compress js %}
            <script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/Leaflet.fullscreen.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/lazyload-custom.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        {% endcompress %}{% endif %}
        <link rel="manifest" href="/manifest.json">
    </head>

    <body role="document">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans "Fail Map" %}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#intro">{% trans "Intro" %}</a></li>
                        <li><a href="#numbers">{% trans "Numbers" %}</a></li>
                        <li><a href="#report">{% trans "Report" %}</a></li>
                        <li><a href="#topfail">{% trans "Top Fail" %}</a></li>
                        <li><a href="#explanation">{% trans "Explanation" %}</a></li>
                    </ul>
                    {% if debug %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><span style="margin-top:10px;" class='btn btn-danger btn-sm btn-block'>DEBUG</span></li>
                    </ul>
                    {% endif %}
                    {% if admin %}
                    <ul class="nav navbar-nav pull-right">
                        <li><span class="navbar-text"><span class="label label-default">{{ version }}</span></span></li>
                        <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                    </ul>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <a name="" class="jumptonav"></a>
        <div id='map'></div>

        <div class="container theme-showcase" role="main">
            <a name="intro" class="jumptonav"></a>
            <div class="jumbotron">
                <h1>{% trans "Fail Map" %}</h1>
                <p>{% trans "Fail Map Introduction" %}</p>
                <p>Stuur nieuwe subdomeinen in via twitter:
                    <a href="https://twitter.com/faalkaart" target="_blank">@faalkaart</a>
                    of mail <a href="mailto:info@faalkaart.nl?subject=subdomeinen">info@faalkaart.nl</a>
                </p>
            </div>

            {% include "map/target_audience.html" %}

            {% include "map/donation_row.html" %}

            <div id="statistics">
                <div class="page-header">
                    <a name="numbers" class="jumptonav"></a>
                    <h2>{% trans "The Numbers" %}</h2>
                    <a href="#" class="backtomap">back to map ↑</a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>{% trans "Organizations" %}</h3>
                        <p>{% trans "Organizations Explained" %}</p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" :style="{width:greenpercentage}">
                                <span class="sr-only">Oh, wow!</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" :style="{width:orangepercentage}">
                                <span class="sr-only">Pretty fair, but not really there.</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" :style="{width:redpercentage}">
                                <span class='sr-only'>They have a lot to learn.</span>
                            </div>
                            <div class="progress-bar progress-bar-basic" :style="{width:unknownpercentage}">
                                <span class='sr-only'>We didn't scan them then...</span>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20%">{% trans "When" %}</th>
                                <th width="20%">{% trans "Number" %}</th>
                                <th width="20%">{% trans "Good" %}</th>
                                <th width="20%">{% trans "Average" %}</th>
                                <th width="20%">{% trans "Bad" %}</th>
                            </tr>
                            </thead>
                            <tbody v-if="data.data">
                                {% verbatim %}
                                <tr v-for="(x, key) in data.data">
                                    <td>{{ key }}</td>
                                    <td>{{ x["included_organizations"] }}</td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #dff9d7 0%, #dff9d7 ' + x['green percentage'] + '%, white ' + x['green percentage'] + '%, white 100%);'">{{ x["green"] }} <small>({{ x["green percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #ffefd3 0%, #ffefd3 ' + x['orange percentage'] + '%, white ' + x['orange percentage'] + '%, white 100%);'">{{ x["orange"] }} <small>({{ x["orange percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #fbeaea 0%, #fbeaea ' + x['red percentage'] + '%, white ' + x['red percentage'] + '%, white 100%);'">{{ x["red"] }} <small>({{ x["red percentage"] }}%)</small></td>
                                </tr>
                                {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>{% trans "Internet addresses" %}</h3>
                        <p>{% trans "Internet addresses Explained" %}</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" :style="{width:greenurlpercentage}">
                                <span class="sr-only">Oh, wow!</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" :style="{width:orangeurlpercentage}">
                                <span class="sr-only">Pretty fair, but not really there.</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" :style="{width:redurlpercentage}">
                                <span class='sr-only'>They have a lot to learn.</span>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="20%">{% trans "When" %}</th>
                                <th width="20%">{% trans "Number" %}</th>
                                <th width="20%">{% trans "Good" %}</th>
                                <th width="20%">{% trans "Average" %}</th>
                                <th width="20%">{% trans "Bad" %}</th>
                            </tr>
                            </thead>
                            <tbody v-if="data.data">
                                {% verbatim %}
                                <tr v-for="(x, key) in data.data">
                                    <td>{{ key }}</td>
                                    <td>{{ x["total_urls"] }}</td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #dff9d7 0%, #dff9d7 ' + x['green url percentage'] + '%, white ' + x['green url percentage'] + '%, white 100%);'">{{ x["green_urls"] }} <small>({{ x["green url percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #ffefd3 0%, #ffefd3 ' + x['orange url percentage'] + '%, white ' + x['orange url percentage'] + '%, white 100%);'">{{ x["orange_urls"] }} <small>({{ x["orange url percentage"] }}%)</small></td>
                                    <td v-bind:style="'background: linear-gradient(0deg, #fbeaea 0%, #fbeaea ' + x['red url percentage'] + '%, white ' + x['red url percentage'] + '%, white 100%);'">{{ x["red_urls"] }} <small>({{ x["red url percentage"] }}%)</small></td>
                                </tr>
                                {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" v-if="data.data">
                    <div class="col-md-6">
                        <h3>{% trans "Technical TLS" %}</h3>
                        <p>{% trans "Technical stats TLS explained" %}</p>

                        <div v-for="(x, key) in data.data" v-if="key == 'now'">
                            <table class="table" v-if="x['explained']">
                            <thead>
                            <tr>
                                <th width="10%">{% trans "Technology" %}</th>
                                <th width="50%">{% trans "Result" %}</th>
                                <th width="40%">{% trans "Total" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% verbatim %}
                                <tr v-if="x['explained']['plain_https']"><td colspan="3">Toepassing van versleuteling</td></tr>
                                <tr v-if="x['explained']['plain_https']" class="redrow"><td></td><td>Geheel niet:</td><td>{{ x['explained']['plain_https']['Site does not redirect to secure url, and has nosecure alternative on a standard port.'] }}</td></tr>
                                <tr v-if="x['explained']['plain_https']" class="orangerow"><td></td><td>Doorverwijzing vanaf onveilig adres:</td><td>{{ x['explained']['plain_https']['Redirects to a secure site, while a secure counterpart on the standard port is missing.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']"><td colspan="3">Kwaliteit van versleuteling</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="redrow"><td></td><td>Onvoldoende:</td><td>{{ x['explained']['tls_qualys']['Broken Transport Security, rated F'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="orangerow"><td></td><td>Ongeldig voor adres:</td><td>{{ x['explained']['tls_qualys']['Certificate not valid for domain name.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="orangerow"><td></td><td>Geen vertrouwen, C:</td><td>{{ x['explained']['tls_qualys']['Could not establish trust.  For the certificate installation: Less than optimal Transport Security, rated C.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="orangerow"><td></td><td>Geen vertrouwen, B:</td><td>{{ x['explained']['tls_qualys']['Could not establish trust.  For the certificate installation: Less than optimal Transport Security, rated B.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="orangerow"><td></td><td>Geen vertrouwen, A-:</td><td>{{ x['explained']['tls_qualys']['Could not establish trust.  For the certificate installation: Good Transport Security, rated A-.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="orangerow"><td></td><td>Geen vertrouwen, A:</td><td>{{ x['explained']['tls_qualys']['Could not establish trust.  For the certificate installation: Good Transport Security, rated A.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="orangerow"><td></td><td>Matig:</td><td>{{ x['explained']['tls_qualys']['Less than optimal Transport Security, rated C.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="orangerow"><td></td><td>Redelijk:</td><td>{{ x['explained']['tls_qualys']['Less than optimal Transport Security, rated B.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="greenrow"><td></td><td>Goed:</td><td>{{ x['explained']['tls_qualys']['Good Transport Security, rated A-.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="greenrow"><td></td><td>Perfect:</td><td>{{ x['explained']['tls_qualys']['Good Transport Security, rated A.'] }}</td></tr>
                                <tr v-if="x['explained']['tls_qualys']" class="greenrow"><td></td><td>Perfect en meer+:</td><td>{{ x['explained']['tls_qualys']['Perfect Transport Security, rated A+.'] }}</td></tr>
                            {% endverbatim %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>{% trans "Technical stats headers" %}</h3>
                        <p>{% trans "Technical stats headers explained" %}</p>

                        <div v-for="(x, key) in data.data" v-if="key == 'now'">
                            <table class="table" v-if="x['explained']">
                            <thead>
                            <tr>
                                <th width="10%">{% trans "Technology" %}</th>
                                <th width="50%">{% trans "Result" %}</th>
                                <th width="40%">{% trans "Total" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% verbatim %}
                                <tr v-if="x['explained']['security_headers_strict_transport_security']"><td colspan="3">Afdwingen van versleuteling / HTTP Strict Transport Security (HSTS)</td></tr>
                                <tr v-if="x['explained']['security_headers_strict_transport_security']" class="orangerow"><td></td><td>Niet:</td><td>{{ x['explained']['security_headers_strict_transport_security']['Missing Strict-Transport-Security header.'] }}</td></tr>
                                <tr v-if="x['explained']['security_headers_strict_transport_security']" class="greenrow"><td></td><td>Wel:</td><td>{{ x['explained']['security_headers_strict_transport_security']['Strict-Transport-Security header present.'] }}</td></tr>
                                <tr v-if="x['explained']['security_headers_x_frame_options']"><td colspan="3">Voorkomen van Clickjacking aanvallen (X-Frame Options)</td></tr>
                                <tr v-if="x['explained']['security_headers_x_frame_options']" class="orangerow"><td></td><td>Niet:</td><td>{{ x['explained']['security_headers_x_frame_options']['Missing X-Frame-Options header.'] }}</td></tr>
                                <tr v-if="x['explained']['security_headers_x_frame_options']" class="greenrow"><td></td><td>Wel:</td><td>{{ x['explained']['security_headers_x_frame_options']['X-Frame-Options header present.'] }}</td></tr>
                                <tr v-if="x['explained']['security_headers_x_xss_protection']"><td colspan="3">X-XSS Protection</td></tr>
                                <tr v-if="x['explained']['security_headers_x_xss_protection']" class="orangerow"><td></td><td>Niet:</td><td>{{ x['explained']['security_headers_x_xss_protection']['Missing X-XSS-Protection header.'] }}</td></tr>
                                <tr v-if="x['explained']['security_headers_x_xss_protection']" class="greenrow"><td></td><td>Wel:</td><td>{{ x['explained']['security_headers_x_xss_protection']['X-XSS-Protection header present.'] }}</td></tr>
                                <tr v-if="x['explained']['security_headers_x_content_type_options']"><td colspan="3">X-Content Type Options</td></tr>
                                <tr v-if="x['explained']['security_headers_x_content_type_options']" class="orangerow"><td></td><td>Niet:</td><td>{{ x['explained']['security_headers_x_content_type_options']['Missing X-Content-Type-Options header.'] }}</td></tr>
                                <tr v-if="x['explained']['security_headers_x_content_type_options']" class="greenrow"><td></td><td>Wel:</td><td>{{ x['explained']['security_headers_x_content_type_options']['X-Content-Type-Options header present.'] }}</td></tr>
                            {% endverbatim %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="data.data">
                    <div class="col-md-6">
                        <h3>{% trans "Services" %}</h3>
                        <p>{% trans "Services explained" %}</p>
                        {% verbatim %}
                        <div v-for="(x, key) in data.data" v-if="key == 'now'">
                            <table class="table">
                            <tr v-for="(xx, xkey) in x['endpoint']">
                                <td>{{ xx[0] }}</td><td>{{ xx[1] }}</td>
                            </tr>
                            </table>
                        </div>
                        {% endverbatim %}
                    </div>
                    <div class="col-md-6">
                        <h3>{% trans "Services faq" %}</h3>
                        <p>Het versturen van informatie over het internet kan op allerlei manieren:
                        via verschillende adressen, protocollen en poorten. Sommige combinaties hiervan zijn
                        zo gebruikelijk dat niemand er nog over nadenkt. Maar door de grote flexibiliteit zijn
                        ook ongebruikelijke combinaties mogelijk.</p>
                        <p>Faalkaart kijkt niet alleen naar de meest gebruikelijke diensten maar neemt ook bekende
                        alternatieven hier van mee.</p>
                        <p>Bijvoorbeeld: De meest gebruikelijke diensten op het internet zijn websites. Deze worden aangeboden
                            op poort 80 (onversleuteld) en 443 (versleuteld). Het is niet nodig om dit aan te geven:
                            door www.example.com in te tikken wordt http://www.example.com:80 bedoeld. Door expliciet
                            een poort op te geven, zoals :8080, is het mogelijk om eem extra dienst aan een adres te koppelen.</p>
                        <p>Lees meer over:</p>
                        <ul>
                            <li><a href="https://en.wikipedia.org/wiki/IPv4" target="_blank">IPv4</a> en <a href="https://en.wikipedia.org/wiki/IPv6">IPv6</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Port_(computer_networking)" target="_blank">Poorten</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Application_layer" target="_blank">Protocollen</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-header" id="report">
                <div>
                    <div class="page-header">
                        <a name="report" id="report-anchor" class="jumptonav"></a>
                        <h2><span class="organization_points"></span>{% trans "Report" %}</h2>
                        <a href="#" class="backtomap">back to map ↑</a>
                    </div>
                    <div>
                      <div>
                        {% trans "Show report for organization" %}:
                        {% verbatim %}
                        <select v-model="selected">
                          <option v-for="organization in organizations" v-bind:value="organization.id">
                            {{ organization.name }}
                          </option>
                        </select>
                        <span v-if='loading'> (loading...)</span>
                        {% endverbatim %}
                      </div>
                      <br />
                      <div v-if="name">
                        Dit resultaat delen? {% verbatim %}<span v-html="create_twitter_link(name, twitter_handle, points)"></span>{% endverbatim %}<br />
                        <br />
                        {% trans "Data from" %}: {% verbatim %}{{ humanize(when) }}{% endverbatim %}<br />
                        {% trans "Points" %}: {% verbatim %}{{ points }}{% endverbatim %}, {% trans "congratulations" %}!<br />
                        <br />
                        Gaat faalkaart niet ver genoeg? <a v-bind:href="'mailto:' + mailto + '?subject=Pentest%20aanvraag%20voor%20'+name+'&body=Beste Faalkaart,%0D%0A%0D%0AWij hebben interesse in een pentest op de outward-facing IT van onze organisatie. Kunnen jullie daar bij helpen?%0D%0A%0D%0AMet vriendelijke groet,%0D%0A%0D%0A'">Vraag hier een echte pentest aan.</a><br/>
                        Ontbreken er domeinen? <a v-bind:href="'mailto:' + mailto + '?subject=Nieuwe%20domeinen%20voor%20'+name+'&body=Beste Faalkaart,%0D%0A%0D%0AGraag de volgende domeinen toevoegen aan de kaart:%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0ATip: stuur een zonefile mee met alle domeinen.%0D%0A%0D%0AMet vriendelijke groet,%0D%0A%0D%0A'">Stuur hier domeinen in.</a><br/>
                        <br />
                        {% verbatim %}
                        <div v-for="url in urls" class="perurl" v-bind:style="'background: linear-gradient(' + colorizebg(url.points) + ', white);'">
                            <div class="screenshotlist">
                                <div v-for="endpoint in url.endpoints" class="servicelink">
                                    <!-- There is no support for different ip's/ipv6 in endpoint, only for protocols. -->
                                    <a v-bind:href="endpoint.protocol + '://' + url.url + ':' + endpoint.port" target="_blank"
                                    v-bind:title="'Visit ' + endpoint.protocol + '://' + url.url + ':' + endpoint.port">
                                        <div class="imagediv" v-bind:style="'background-image: url(\'/static/images/screenshots/'+ endpoint.protocol + idize(url.url) + endpoint.port + '_latest.png\');'"></div>
                                        <span v-html="'Bezoek adres van type: ' + create_type(endpoint) "> </span>
                                    </a>
                                </div>
                            </div>
                            <div class="reportlist">
                                <span v-html="total_awarded_points(url.points)"> </span>
                                <span class="faildomain" v-bind:class="colorize(url.points)" v-bind:data-tooltip-content="idizetag(url.url)" >
                                    {{ url.url }}</span><br />
                                <a v-bind:href="'mailto:' + mailto + '?subject=verkeerde%20bevinding%20op%20' + url.url + '&body=Let op: sites worden automatisch opnieuw gescand, dat duurt tot ongeveer een week afhankelijk van de test. Functionaliteit om snel een her-scan uit te voeren volgt. %0D%0A%0D%0A%0D%0ABeste Faalkaart, %0D%0A%0D%0AHet lijkt erop dat er een verkeerde bevinding op de kaart staat.%0D%0A%0D%0A Het volgende is onjuist: %0D%0A- %0D%0A- %0D%0A- %0D%0A%0D%0ATip: Stuur ook een verklaring mee waarom het onjuist is, zo kunnen we sneller reageren. %0D%0A%0D%0A%0D%0AMet vriendelijke groet,%0D%0A%0D%0A'" class="btn btn-default btn-sm" style="margin-top: 11px;" role="button">Meld onjuiste bevinding</a>
                                <br/>
                                <div v-for="endpoint in url.endpoints"><br />
                                        &nbsp; {% endverbatim %}{% trans "Address" %}{% verbatim %}: {{ endpoint.ip }}:{{ endpoint.port }}
                                        <div v-for="rating in endpoint.ratings">
                                            <h3>&nbsp; {{ create_header(rating) }}</h3>
                                            &nbsp; &nbsp; <span v-html="awarded_points(rating.points)"></span> {{ rating.explanation }}<br />
                                            &nbsp; &nbsp; {% endverbatim %}{% trans "Since" %}{% verbatim %}: {{ humanize(rating.since) }}, {% endverbatim %}{% trans "Last check" %}{% verbatim %}: {{ humanize(rating.last_scan) }} <br />
                                            &nbsp; &nbsp; <span v-html="second_opinion_links(rating, url)"> </span>
                                            <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                        {% endverbatim %}
                    </div>
                </div>
            </div>

            <br style="clear: both">

            <div class="row">
                {% include "map/topfail.html" %}
                {% include "map/topwin.html" %}
            </div>

            {% include "map/donation_row.html" %}

            <div class="row">
                {% include "map/terrible_urls.html" %}
                {% include "map/faq.html" %}
            </div>

            {% include "map/donation_row.html" %}

            <div id="lastrow">
                <div class="row">
                    <a name="footer" class="jumptonav"></a>

                    <div class="col-md-2 logoandtext">
                        <div class="logo fail_logo">
                            <a href="https://internetcleanup.foundation" target="_blank">
                                <img class="lazyload" data-src="{% static 'images/internet_cleanup_foundation_logo.png' %}" alt="Internet Cleanup Foundation Logo"
                                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" />
                            </a>
                        </div>
                        <b><a href="https://internetcleanup.foundation" target="_blank">Internet Cleanup Foundation</a></b>
                        <p>Let's clean up the internet: our privacy depends on it.</p>
                    </div>
                    <div class="col-md-2 logoandtext">
                        <div class="logo sidn_logo">
                            <a href="https://www.sidnfonds.nl/" target="_blank">
                                <img class="lazyload" data-src="{% static 'images/sidnfonds-logo.png' %}" alt="SIDN Fonds Logo"
                                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" />
                            </a>
                        </div>
                        <b><a href="https://www.sidnfonds.nl/" target="_blank">SIDN fonds</a></b>
                        <p>Invests in a resillient internet for everyone.</p>
                    </div>
                    <div class="col-md-2 logoandtext">
                        <div class="logo git_logo">
                            <a href="https://gitlab.com/failmap/" target="_blank">
                                <img class="lazyload" data-src="{% static 'images/gitlab_logo.png' %}" alt="Gitlab Logo"
                                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" />
                            </a>
                        </div>
                        <b><a href="https://github.com/failmap/" target="_blank">Fail Map</a></b>
                        <p>Fail map is open software maintained by the Internet Cleanup Foundation.</p>
                    </div>
                    <div class="col-md-6">
                        <b>Bescherm je gegevens! Doneer nu!</b><br />
                        <p>We houden organisaties scherp om ieders gegevens te beschermen. Vind je dit cool? Jouw donatie zorgt voor blijvende updates, onderhoud en nieuwe controles!</p>
                        <p>
                            <b>Doneer gemakkelijk, veilig en snel door op een bedrag te klikken:</b>
                        </p>
                        <div class="donatebuttons">
                            <span class="Donate a5"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/5" target="_blank">&euro; 5</a></span>
                            <span class="Donate a10"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/10" target="_blank">&euro; 10</a></span>
                            <span class="Donate a20"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/25" target="_blank">&euro; 20</a></span>
                            <span class="Donate a50"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/50" target="_blank">&euro; 50</a></span>
                            <span class="Donate a100"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/100" target="_blank">&euro; 100</a></span>
                            <span class="Donate a200"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/200" target="_blank">&euro; 200</a></span>
                            <span class="Donate a500"><a href="https://useplink.com/payment/qaCyn8t6Tar7c5zVS6Fa/500" target="_blank">&euro; 500</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="x-template" id="fullscreenreport">
      {% verbatim %}
      <div class="page-header" id="fullscreenreport" v-if="visible">
        <div v-if="name" class="fullscreenlayout">
          <h1>
            {{ name }}
          </h1>
          <p class="closebutton" onclick="vueFullScreenReport.hide()">
            X
          </p>
          <div>
            Dit resultaat delen?<br>
            <br>
            Gegevens van: {{ humanize(when) }}<br>
            Score: {{ points }}, congratulations!<br>
            <br>
            Gaat faalkaart niet ver genoeg? <a v-bind:href="'mailto:' + mailto + '?subject=Pentest%20aanvraag%20voor%20'+name+'&amp;body=Beste Faalkaart,%0D%0A%0D%0AWij hebben interesse in een pentest op de outward-facing IT van onze organisatie. Kunnen jullie daar bij helpen?%0D%0A%0D%0AMet vriendelijke groet,%0D%0A%0D%0A'">Vraag hier een echte pentest aan.</a><br>
            Ontbreken er domeinen? <a v-bind:href="'mailto:' + mailto + '?subject=Nieuwe%20domeinen%20voor%20'+name+'&amp;body=Beste Faalkaart,%0D%0A%0D%0AGraag de volgende domeinen toevoegen aan de kaart:%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0ATip: stuur een zonefile mee met alle domeinen.%0D%0A%0D%0AMet vriendelijke groet,%0D%0A%0D%0A'">Stuur hier domeinen in.</a><br>
            <br>
            <div v-for="url in urls" class="perurl" v-bind:style="'background: linear-gradient(' + colorizebg(url.points) + ', rgba(255, 255, 255,.5));'">
              <div class="screenshotlist">
                <div v-for="endpoint in url.endpoints" class="servicelink">
                  <!-- There is no support for different ip's/ipv6 in endpoint, only for protocols. -->
                   <a v-bind:href="endpoint.protocol + '://' + url.url + ':' + endpoint.port" target="_blank" v-bind:title="'Visit ' + endpoint.protocol + '://' + url.url + ':' + endpoint.port"></a>
                  <div class="imagediv" v-bind:style="'background-image: url(\'/static/images/screenshots/'+ endpoint.protocol + idize(url.url) + endpoint.port + '_latest.png\');'"></div>
                </div>
              </div>
              <div class="reportlist">
                <span class="faildomain" v-bind:class="colorize(url.points)" v-bind:data-tooltip-content="idizetag(url.url)">{{ url.url }}</span><br>
                <a v-bind:href="'mailto:' + mailto + '?subject=verkeerde%20bevinding%20op%20' + url.url + '&amp;body=Let op: sites worden automatisch opnieuw gescand, dat duurt tot ongeveer een week afhankelijk van de test. Functionaliteit om snel een her-scan uit te voeren volgt. %0D%0A%0D%0A%0D%0ABeste Faalkaart, %0D%0A%0D%0AHet lijkt erop dat er een verkeerde bevinding op de kaart staat.%0D%0A%0D%0A Het volgende is onjuist: %0D%0A- %0D%0A- %0D%0A- %0D%0A%0D%0ATip: Stuur ook een verklaring mee waarom het onjuist is, zo kunnen we sneller reageren. %0D%0A%0D%0A%0D%0AMet vriendelijke groet,%0D%0A%0D%0A'" class="btn btn-default btn-sm" style="margin-top: 11px;" role="button">Meld onjuiste bevinding</a>
                <div v-for="endpoint in url.endpoints">
                  <br>
                  &nbsp; Adres: {{ endpoint.ip }}:{{ endpoint.port }}
                  <div v-for="rating in endpoint.ratings">
                    <h3>
                      &nbsp; {{ create_header(rating) }}
                    </h3>&nbsp; &nbsp; {{ rating.explanation }}<br>
                    &nbsp; &nbsp; Sinds: {{ humanize(rating.since) }}, Last Check: {{ humanize(rating.last_scan) }}<br>
                    &nbsp; &nbsp;<br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endverbatim %}
    </script>
</html>
<!--
This page was generated with MSPAINT.EXE on {{ timestamp }} in over 9000 seconds, version: {{ version }}.
-->
