{% load static %} {% load i18n %}
                <div class="col-md-6">
                    <div id="terrible_urls">
                        <div class="page-header">
                            <a name="topwin"  class="jumptonav"></a>
                            <h2>{% trans "Terrible Addresses" %}</h2>
                        </div>
                        <div>
                            <p v-if="top.metadata">{% trans "These are the worst addresses on: " %} {% verbatim %}{{ humanize(top.metadata.data_from_time) }}{% endverbatim %}</p>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{% trans "Rank" %}</th>
                                <th>{% trans "Organization" %}</th>
                                <th>{% trans "Url" %}</th>
                            </tr>
                            </thead><tbody>
                            {% verbatim %}
                            <tr v-for='rank in top.urls'>
                                <td>{{ rank.Rank }}</td>
                                <td><a v-on:click="showReport(rank.OrganizationID)">{{ rank.OrganizationName }}</a></td>
                                <td>{{ rank.Url }}</td>
                            </tr>
                            {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                </div>